.ListTable {
    table-layout:fixed;
    background-color:#73A2D6;
}

.ListTable THEAD TR {
    height:  23px;
}

.ListTable THEAD TR TD{
    font-size: 100%;
	color: #FFFFFF;
}

.ListTable TBODY TR {
    height:  21px;
}

.ListTable TBODY TR TD{
    font-size: 90%;
    background-color:#FFFFFF;
}


.InfoTable {
    table-layout:fixed;
	font-size: 100%;
    background-color:#73A2D6;

}

.InfoTable .Title {
    background-color:#73A2D6;
	color:#FFFFFF;
	height:25px;
}

.InfoTable .Lable {
    font-size:90%;
    background-color:inactivecaptiontext;
}

.InfoTable .Input {
    background-color:#FFFFFF;
}

.InfoTable .Hint {
    background-color:#FFFFFF;
}