body {
	overflow-x:                hidden;
	overflow-y:                hidden;
	margin:                    0px 0px 0px 0px;
	background-color:          #FFFFFF;
	scrollbar-face-color:      #aaaaaa;
	scrollbar-highlight-color: #aaaaaa;
	scrollbar-shadow-color:    #aaaaaa;
	color: #444444;
	scrollbar-3dlight-color:   #dddddd;
	scrollbar-arrow-color:     #ffffff;
	scrollbar-track-color:     #cccccc;
	font-family: arial, verdana, helvetica, sans-serif;
	scrollbar-darkshadow-color:#666666;
	font-size: 12px;
}


.NavigateContainer {
	font-size:   80%;
	color:     menutext;
	height:    24px;
	position:  relative;
	display:   none;
}

.NavigateContainer .NavItem {
	height: 22px;
    position:  absolute;
	top:       2px;
	padding:   5px 0px 0px 5px;
	text-align:center;
	border-top:1px solid inactiveborder;
	color:     #333366;
    background-color:aliceblue;
	font-weight:bold;
}

.NavigateContainer .NavItemSelect {
    height: 24px;
    background-image: url(../image/navitemselect.jpg);
	background-repeat: repeat-x;
    position:  absolute;
	top:       0px;
	padding:   5px 0px 0px 5px;
	text-align:center;
	color:     #FFFFFF;
	font-weight:bold;
}

.NavigateContainer .NavSpace {
	height: 22px;
	width:     5px;
	padding:   2px 2px 0px 1px;
    position:  absolute;
	top:       2px;
	border-top:1px solid inactiveborder;
    background-color:aliceblue;
}

.MainTable {
   width:100%;height:100%;table-layout:fixed;background-color:#73A2D6
}

.MainTable .NavigateTR{
	background-image: url(../image/topnav1_bg.jpg);
	background-repeat: repeat-x;
}

.MainTable .TitleTR{
    background-color:window;
}

.MainBodyTable {
   width:100%;height:100%;table-layout:fixed;background-color:#73A2D6
}

.MainBodyTable .MenuTD {
   width:18%;
}

.MainBodyTable .FrameTD {
   width:82%;
}

.MenuContainer {
	width: expression(this.parentElement.clientWidth  + "px");
	height:100%;
	font: menu;
	color: menutext;
	padding: 0 3 0 3;
	cursor:default;
	overflow: auto;
	filter:BlendTrans();
}

.MenuContainer .SubMenuItem {
	background-image:  url(../image/menuItem_bg.gif);
	background-repeat: repeat-x;
	height: 23px;
	width:  100%;
	border: 1px solid #7F9DB9;
}

.MenuContainer .SubMenuItem IMG{
    height: 13px;
	width:  13px;
	margin: 6 2 2 3;
}

.MenuContainer .SubMenuItem SPAN {
    height: 19px;
	vertical-align:middle; 
}

.MenuContainer .MenuItemContainer{
	padding: 0 0 0 0;
	border-left:   1px solid #7F9DB9;
	border-right:  1px solid #7F9DB9;
	border-bottom: 1px solid #7F9DB9;
    background-color:window;
	width:  100%;
	display:none;
	filter:BlendTrans();
}

.MenuContainer .MenuItem {
	height: 22px;
	width:  100%;
	border: 1px solid window;
}

.MenuContainer .MenuItem IMG{
    height: 13px;
	width:  13px;
	margin: 6 2 2 3;
}

.MenuContainer .MenuItem SPAN{
    padding:   3 0 2 2;
    height:    18px;
	vertical-align:middle; 
}

.MenuContainer .MenuItemOver {
	height: 22px;
	width:  100%;
	border: 1px solid #7F9DB9;
}

.MenuContainer .MenuItemOver IMG{
    height: 13px;
	width:  13px;
	margin: 6 2 2 3;
}

.MenuContainer .MenuItemOver SPAN{
    padding:   3 0 2 2;
    height:    18px;
	vertical-align:middle; 
}

.MenuContainer .MenuItemSelect {
	height: 22px;
	width:  100%;
	border: 1px solid window;
	background-color: #7F9DB9;
}

.MenuContainer .MenuItemSelect IMG{
    height: 13px;
	width:  13px;
	margin: 6 2 2 3;
}

.MenuContainer .MenuItemSelect SPAN{
    padding:   3 0 2 2;
    height:    18px;
	vertical-align:middle; 
}


.helpBtn {
    font-size:   70%;
	font-weight:bold;
	cursor:  hand;
}

.infoLab {
    font-size:   80%;
	font-weight:bold;
	cursor:  hand;
}