/*PageBean*/
.pagination { padding: 5px 0; clear: both; float: right; overflow: hidden;font-size:10pt;}
.pagination span { display: block; float: left;}
.pagination .number { margin-left: 7px; display: inline;}
.pagination .number a { display: block; padding: 0 5px; color: #28558c;}
.pagination .number.current { border: 1px solid #ff7200; background: #ff9c00;}
.pagination .number.current a { color: #fff;}

.inputNull{border-left:0px;border-right:0px;border-top:0px;border-bottom:0px;}
.inputA{width:130px;}
.inputB{width:100px;}
.inputC{width:80px;}
.inputD{width:210px;}
.lineInputA{background:#ffffff;width:50px;border-bottom-color:black;border-bottom-width:1px;border-top-width:0px;border-left-width:0px;border-right-width:0px;;font-size: 13px; font-style: normal; font-variant: normal; font-weight: normal; height: 18px; line-height: normal;}
.lineInputB{background:#ffffff;width:100px;border-bottom-color:black;border-bottom-width:1px;border-top-width:0px;border-left-width:0px;border-right-width:0px;;font-size: 13px; font-style: normal; font-variant: normal; font-weight: normal; height: 18px; line-height: normal;}
.lineInputC{background:#ffffff;width:150px;border-bottom-color:black;border-bottom-width:1px;border-top-width:0px;border-left-width:0px;border-right-width:0px;;font-size: 13px; font-style: normal; font-variant: normal; font-weight: normal; height: 18px; line-height: normal;}
.lineInputD{background:#ffffff;width:200px;border-bottom-color:black;border-bottom-width:1px;border-top-width:0px;border-left-width:0px;border-right-width:0px;;font-size: 13px; font-style: normal; font-variant: normal; font-weight: normal; height: 18px; line-height: normal;}
.lineInputE{background:#ffffff;width:250px;border-bottom-color:black;border-bottom-width:1px;border-top-width:0px;border-left-width:0px;border-right-width:0px;;font-size: 13px; font-style: normal; font-variant: normal; font-weight: normal; height: 18px; line-height: normal;}

/*info table*/
.infotable {
	border-collapse: collapse;
	border-color: gray;
	padding: 5px;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
}
.infotable th {
	background-color: #E4E4E4;
	text-align: center;
	padding: 5px;
	font-size: 12px;
	border-color: gray;
	border-style: solid;
	border-width: 1px 0px 0px 1px;
}

.infotable td {
	text-align: center;
	padding: 5px;
	font-family: "arial";
	font-size: 12px;
	border-color: gray;
	border-style: solid;
	border-width: 1px 0px 1px 1px;
}
/*table*/
.table{
	border-collapse: collapse;
	padding: 5px;
	border-color: gray;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
}
.table thead th{
	background-color:#E4E4E4;
	text-align: center;
	padding: 5px;
	font-size: 12px;
	border-color: gray;
	border-style: solid;
	border-width: 1px 0px 0px 1px;
}
.table tbody td{
	padding: 5px;
	font-family: "arial";
	font-size: 12px;
}
