.button{
	background-position: -37px -439px;
	width: 60px;
	line-height: 21px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin: 4px;
	height: 21px;
}
.input{
	background-color: #FEFBEA;
	border: 1px solid #98BCD2;
	margin: 2px;
}