.table {
	border-collapse: collapse;
	padding: 5px;
	border-color: gray;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
}

.table th {
	background-color: #E4E4E4;
	text-align: center;
	padding: 5px;
	font-size: 12px;
	border-color: gray;
	border-style: solid;
	border-width: 1px 0px 0px 1px;
}

.table td {
	text-align: center;
	padding: 5px;
	font-family: "arial";
	font-size: 12px;
	border-color: gray;
	border-style: solid;
	border-width: 1px 0px 1px 1px;
}
