.table {
	border-collapse: collapse;
	padding: 5px;
	border-color: gray;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
}

.table th {
	background-color: #E4E4E4;
	text-align: center;
	padding: 5px;
	font-size: 12px;
	border-color: gray;
	border-style: solid;
	border-width: 1px 0px 0px 1px;
}

.table td {
	text-align: center;
	padding: 5px;
	font-family: "arial";
	font-size: 12px;
	border-color: gray;
	border-style: solid;
	border-width: 1px 0px 1px 1px;
}
.listTable{
	background-color: #E4E4E4;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	width: 96.5%;
}
.listTable thead tr{
	height: 22px;
}
.listTable thead tr th{
	background-position: 0px -486px;
	background-repeat: repeat-x;
	line-height: 22px;
	text-align:left;
	color: #FFFFFF;
}
.listTable tbody tr{
	height: 20px;
}
.listTable tbody tr td{
	background-color: #FFFFFF;
	line-height: 20px;
	padding-right: 4px;
	padding-left: 4px;
	text-align: center;
}
.infoTable{
	background-color: #BBC4D3;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	width: 96.5%;
}
.infoTable thead tr{
	height: 25px;
}
.infoTable thead tr th{
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	text-align: left;
}
.infoTable tbody tr{
	height: 23px;
}
infoTable tbody tr td.label{
	background-color: #FFFFFF;
	text-align: right;
	
}
infoTable tbody tr td.input{
	background-color: #FFFFFF;
	text-align: left;
}